* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.App {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.userInput {
    background-color: rgb(249, 195, 195);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.userInput input {
    text-align: center;
    padding: 10px;
    border-radius: 2px;
    outline: none;
}

.userInput button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
}

.todos {
    background-color: rgb(247, 247, 172);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 22px;
    padding: 10px;
    gap:10px
}

.todo{
    border: solid black 1px;
    padding: 10px;
    display: flex;
}
.todo div{
    flex-grow: 1;
}

.buttons{
    display: flex;
    justify-content: flex-end;
}

.buttons img{
    width: 40px;
    cursor: pointer;
}

.popup{
    height: 100vh;
    width: 100vw;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.none{
    display: none;
}

.flex{
    display: flex;
}

.popup div{
    background-color:dimgray;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 2px;
}

.popup input{
    text-align: center;
    padding: 10px;
    border-radius: 2px;
    outline: none;
}

.popup button{
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
}